# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Tests
.pytest_cache/
.coverage

# Nuitka build artifacts
build/
dist/
*.dist/
*.onefile-build/
*.build/
*.exe
*.bin
manta_cli
manta_cli.exe
manta_cli_arm64

# IDE / OS
.idea/
.vscode/
*.swp

# Replays and local data
*.dem
*.dem.bz2
*.dem.zst
